.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  text-align: center;
  background-color: #FAFBFC;
  height: 20px;
  padding: 20px;
  color:#222;
  position:absolute;
  width:100%;
  bottom:0;
}
.App-user {
font-size: 40px;
}

.comment-body {
  padding: 20px;
  margin: 0px 0px 0px 140px ;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  width: 70%;

}
.comment-body h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.comment-body-info {
  border-left-color: #1b809e;
}
.comment-body-info h4 {
  color: #1b809e;
}
.comment-body-info autor {
  color: #1b809e;
  font-size: 20px;

}

.mc-body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.head_title {
  font-size: 4rem;
  text-align: center;
  margin-top: 30px;
  letter-spacing: -.065em;
  margin-bottom: 12px;
  color: #222
}
.data_category {
  color: #999;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -.02rem;
  margin: 0px 0px 20px 140px;
}
.text-container {
margin: 0px 0px 20px 140px;
padding: 0;
font-size: 1.4em;
vertical-align: baseline;
text-align: justify;
width: 70%;
color: #666;
text-overflow: ellipsis; 
}

.usuario-avatar {
  width: 32px;
  height: 32px;
  margin: 10px;

}
.texto-comentario {
  font-size: 14px;
  line-height: 18px;
  color: #666;
  margin: 0px 0px 20px 60px;
  word-wrap: break-word;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
